---
layout: default
robots: noindex
---

<div class="main-post-list">
  <ol class="post-list">
    {% for post in paginator.posts %}
      <li>
        <!-- 포스트 내용 -->
        <h2 class="post-list__post-title post-title">
          <a href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
        </h2>
        <p class="excerpt">{{ post.excerpt | strip_html }}&hellip;</p>
        <!-- 기타 메타데이터 및 내용 -->
      </li>

      {% if forloop.index != 0 and forloop.index | modulo: 2 == 0 %}
        <li class="ad-container">
          <!-- 광고 코드 -->
          <div>
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6229870969285528"
                 crossorigin="anonymous"></script>
            <!-- 제목 바로 밑 디플광고 -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-6229870969285528"
                 data-ad-slot="1467521228"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                 (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
          </div>
        </li>
      {% endif %}
    {% endfor %}
  </ol>

  <!-- 페이지네이션 -->
  {% if paginator.previous_page or paginator.next_page %}
    {% include pagination.html %}
  {% endif %}
</div>
