<!DOCTYPE html>
<html>
  {% include head.html %}

  <body>
    {% include header.html %}
      
    <div class="content-wrapper">
      <div class="content-wrapper__inner">
        {{ content }}
      </div>
      <div><script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6229870969285528"
        crossorigin="anonymous"></script>
   <ins class="adsbygoogle"
        style="display:block"
        data-ad-format="autorelaxed"
        data-ad-client="ca-pub-6229870969285528"
        data-ad-slot="4773422016"></ins>
   <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
   </div>
      {% include footer.html %}
    </div>
  </body>
</html>