---
layout: default
---
<article class="post-container post-container--single">
  <div>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-6229870969285528"
         crossorigin="anonymous"></script>
    <!-- 워드프레스 홈 상단 멀티렉스플 -->
    <ins class="adsbygoogle"
         style="display:block"
         data-ad-client="ca-pub-6229870969285528"
         data-ad-slot="1217320382"
         data-ad-format="auto"
         data-full-width-responsive="true"></ins>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    </div>
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <section class="post">
    {{ content }}
  </section>

</article>